.btn{
    background-color: blueviolet;
    border: 50px;
    padding: 20px;
    box-shadow:  100px;
    

    
}
li{
    width:300px;
    background-color: tan;
    width:300px;
    display: flex;
    justify-content: space-between;

}